/*************************************************************************************************/
/*  Fonts                                                                                        */
/*************************************************************************************************/

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?subset_id=2&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: auto;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?subset_id=2&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?subset_id=2&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?subset_id=2&fvd=n7&v=3) format("opentype");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: auto;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l?subset_id=2&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/d?subset_id=2&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/a?subset_id=2&fvd=i4&v=3) format("opentype");
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    font-display: auto;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/4de20a/00000000000000007735e604/30/l?subset_id=2&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/4de20a/00000000000000007735e604/30/d?subset_id=2&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/4de20a/00000000000000007735e604/30/a?subset_id=2&fvd=i7&v=3) format("opentype");
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    font-display: auto;
}



/*************************************************************************************************/
/*  Global                                                                                       */
/*************************************************************************************************/

* {
    box-sizing: border-box;
}



html.wait,
html.wait * {
    cursor: wait !important;
}



body {
    font-family: proxima-nova;
}



html,
body {
    height: calc(100vh - 150px);
    margin: 0;
    padding: 0;
}



body>.container {
    height: 100%;
}



/*************************************************************************************************/
/*  Header                                                                                       */
/*************************************************************************************************/

#header,
#footer {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;

    font-family: roboto-condensed;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}



#header a,
#footer a {
    text-decoration: none;
    color: #333;
}



#header a:hover,
#footer a:hover {
    color: #999;
}



#header img {
    max-height: 80px;
    width: auto;
    height: auto;
    vertical-align: middle;
}



#header ul {
    display: inline-block;
    margin: 0 40px;
}



#header ul li {
    display: inline-block;
    margin: 0 20px;
}



#header .menu-explore {
    font-weight: 500;
    color: #0898d4;
}



/*************************************************************************************************/
/*  Body                                                                                         */
/*************************************************************************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: roboto-condensed;
    text-transform: uppercase;
    font-size: 24pt;
    margin: 30px 0;
    /* font-variant: small-caps; */
}

h2 {
    text-align: center;
    border-style: solid;
    border-width: 2px 0;
    border-color: #eee;
    font-weight: 300;
    padding: 20px 0;
    margin: 60px 0 40px 0;
    color: #999;
    background-color: #fcfcfc;
}



/*************************************************************************************************/
/*  Footer                                                                                       */
/*************************************************************************************************/

#footer {
    text-align: center;
    padding: 20px 0;
}



/*************************************************************************************************/
/*  Unity widget                                                                                 */
/*************************************************************************************************/

#unity-canvas {
    width: 100%;
    background-image: url('/images/fallback.png');
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1;
}



/*************************************************************************************************/
/*  Columns                                                                                      */
/*************************************************************************************************/

#main-container {
    margin-left: auto;
    margin-right: auto;
}

.main-col {
    border-width: 5px;
    border-style: solid;
    height: 100%;
    padding: 12px;
}

#col-left {
    border-color: red;
    overflow-y: scroll;
}

#col-center {
    border-color: green;
}

#col-right {
    border-color: blue;
}



/*************************************************************************************************/
/*  SVG                                                                                          */
/*************************************************************************************************/

svg {
    width: 100%;
    display: block;
    border: 5px solid black;
}
