
svg path.cosmos_region_2043 { fill: var(--region-cosmos-2043); /* HY */ }
svg path.cosmos_region_1782 { fill: var(--region-cosmos-1782); /* HPF */ }
svg path.cosmos_region_2210 { fill: var(--region-cosmos-2210); /* HB */ }
svg path.cosmos_region_1883 { fill: var(--region-cosmos-1883); /* CTXsp */ }
svg path.cosmos_region_1707 { fill: var(--region-cosmos-1707); /* OLF */ }
svg path.cosmos_region_1898 { fill: var(--region-cosmos-1898); /* CNU */ }
svg path.cosmos_region_1969 { fill: var(--region-cosmos-1969); /* TH */ }
svg path.cosmos_region_2342 { fill: var(--region-cosmos-2342); /* CB */ }
svg path.cosmos_region_1333 { fill: var(--region-cosmos-1333); /* Isocortex */ }
svg path.cosmos_region_2134 { fill: var(--region-cosmos-2134); /* MB */ }
svg path.cosmos_region_0 { fill: var(--region-cosmos-0); /* void */ }
svg path.cosmos_region_807 { fill: var(--region-cosmos-807); /* MB */ }
svg path.cosmos_region_6 { fill: var(--region-cosmos-6); /* Isocortex */ }
svg path.cosmos_region_1015 { fill: var(--region-cosmos-1015); /* CB */ }
svg path.cosmos_region_642 { fill: var(--region-cosmos-642); /* TH */ }
svg path.cosmos_region_571 { fill: var(--region-cosmos-571); /* CNU */ }
svg path.cosmos_region_380 { fill: var(--region-cosmos-380); /* OLF */ }
svg path.cosmos_region_556 { fill: var(--region-cosmos-556); /* CTXsp */ }
svg path.cosmos_region_1 { fill: var(--region-cosmos-1); /* root */ }
svg path.cosmos_region_883 { fill: var(--region-cosmos-883); /* HB */ }
svg path.cosmos_region_455 { fill: var(--region-cosmos-455); /* HPF */ }
svg path.cosmos_region_716 { fill: var(--region-cosmos-716); /* HY */ }

