
svg path.beryl_region_0 { fill: var(--region-beryl-0); /* void */ }
svg path.beryl_region_1 { fill: var(--region-beryl-1); /* root */ }
svg path.beryl_region_7 { fill: var(--region-beryl-7); /* FRP */ }
svg path.beryl_region_19 { fill: var(--region-beryl-19); /* MOp */ }
svg path.beryl_region_25 { fill: var(--region-beryl-25); /* MOs */ }
svg path.beryl_region_45 { fill: var(--region-beryl-45); /* SSp-n */ }
svg path.beryl_region_52 { fill: var(--region-beryl-52); /* SSp-bfd */ }
svg path.beryl_region_66 { fill: var(--region-beryl-66); /* SSp-ll */ }
svg path.beryl_region_73 { fill: var(--region-beryl-73); /* SSp-m */ }
svg path.beryl_region_80 { fill: var(--region-beryl-80); /* SSp-ul */ }
svg path.beryl_region_87 { fill: var(--region-beryl-87); /* SSp-tr */ }
svg path.beryl_region_94 { fill: var(--region-beryl-94); /* SSp-un */ }
svg path.beryl_region_101 { fill: var(--region-beryl-101); /* SSs */ }
svg path.beryl_region_108 { fill: var(--region-beryl-108); /* GU */ }
svg path.beryl_region_115 { fill: var(--region-beryl-115); /* VISC */ }
svg path.beryl_region_123 { fill: var(--region-beryl-123); /* AUDd */ }
svg path.beryl_region_137 { fill: var(--region-beryl-137); /* AUDp */ }
svg path.beryl_region_144 { fill: var(--region-beryl-144); /* AUDpo */ }
svg path.beryl_region_151 { fill: var(--region-beryl-151); /* AUDv */ }
svg path.beryl_region_165 { fill: var(--region-beryl-165); /* VISal */ }
svg path.beryl_region_172 { fill: var(--region-beryl-172); /* VISam */ }
svg path.beryl_region_179 { fill: var(--region-beryl-179); /* VISl */ }
svg path.beryl_region_186 { fill: var(--region-beryl-186); /* VISp */ }
svg path.beryl_region_193 { fill: var(--region-beryl-193); /* VISpl */ }
svg path.beryl_region_200 { fill: var(--region-beryl-200); /* VISpm */ }
svg path.beryl_region_207 { fill: var(--region-beryl-207); /* VISli */ }
svg path.beryl_region_214 { fill: var(--region-beryl-214); /* VISpor */ }
svg path.beryl_region_227 { fill: var(--region-beryl-227); /* ACAd */ }
svg path.beryl_region_233 { fill: var(--region-beryl-233); /* ACAv */ }
svg path.beryl_region_239 { fill: var(--region-beryl-239); /* PL */ }
svg path.beryl_region_246 { fill: var(--region-beryl-246); /* ILA */ }
svg path.beryl_region_259 { fill: var(--region-beryl-259); /* ORBl */ }
svg path.beryl_region_265 { fill: var(--region-beryl-265); /* ORBm */ }
svg path.beryl_region_273 { fill: var(--region-beryl-273); /* ORBvl */ }
svg path.beryl_region_280 { fill: var(--region-beryl-280); /* AId */ }
svg path.beryl_region_286 { fill: var(--region-beryl-286); /* AIp */ }
svg path.beryl_region_292 { fill: var(--region-beryl-292); /* AIv */ }
svg path.beryl_region_299 { fill: var(--region-beryl-299); /* RSPagl */ }
svg path.beryl_region_326 { fill: var(--region-beryl-326); /* RSPd */ }
svg path.beryl_region_333 { fill: var(--region-beryl-333); /* RSPv */ }
svg path.beryl_region_347 { fill: var(--region-beryl-347); /* VISa */ }
svg path.beryl_region_354 { fill: var(--region-beryl-354); /* VISrl */ }
svg path.beryl_region_361 { fill: var(--region-beryl-361); /* TEa */ }
svg path.beryl_region_368 { fill: var(--region-beryl-368); /* PERI */ }
svg path.beryl_region_374 { fill: var(--region-beryl-374); /* ECT */ }
svg path.beryl_region_381 { fill: var(--region-beryl-381); /* MOB */ }
svg path.beryl_region_387 { fill: var(--region-beryl-387); /* AOB */ }
svg path.beryl_region_391 { fill: var(--region-beryl-391); /* AON */ }
svg path.beryl_region_400 { fill: var(--region-beryl-400); /* TTd */ }
svg path.beryl_region_406 { fill: var(--region-beryl-406); /* TTv */ }
svg path.beryl_region_411 { fill: var(--region-beryl-411); /* DP */ }
svg path.beryl_region_417 { fill: var(--region-beryl-417); /* PIR */ }
svg path.beryl_region_422 { fill: var(--region-beryl-422); /* NLOT */ }
svg path.beryl_region_428 { fill: var(--region-beryl-428); /* COAa */ }
svg path.beryl_region_432 { fill: var(--region-beryl-432); /* COAp */ }
svg path.beryl_region_445 { fill: var(--region-beryl-445); /* PAA */ }
svg path.beryl_region_450 { fill: var(--region-beryl-450); /* TR */ }
svg path.beryl_region_458 { fill: var(--region-beryl-458); /* CA1 */ }
svg path.beryl_region_463 { fill: var(--region-beryl-463); /* CA2 */ }
svg path.beryl_region_468 { fill: var(--region-beryl-468); /* CA3 */ }
svg path.beryl_region_474 { fill: var(--region-beryl-474); /* DG */ }
svg path.beryl_region_491 { fill: var(--region-beryl-491); /* FC */ }
svg path.beryl_region_492 { fill: var(--region-beryl-492); /* IG */ }
svg path.beryl_region_495 { fill: var(--region-beryl-495); /* ENTl */ }
svg path.beryl_region_508 { fill: var(--region-beryl-508); /* ENTm */ }
svg path.beryl_region_524 { fill: var(--region-beryl-524); /* PAR */ }
svg path.beryl_region_528 { fill: var(--region-beryl-528); /* POST */ }
svg path.beryl_region_532 { fill: var(--region-beryl-532); /* PRE */ }
svg path.beryl_region_536 { fill: var(--region-beryl-536); /* SUB */ }
svg path.beryl_region_545 { fill: var(--region-beryl-545); /* ProS */ }
svg path.beryl_region_554 { fill: var(--region-beryl-554); /* HATA */ }
svg path.beryl_region_555 { fill: var(--region-beryl-555); /* APr */ }
svg path.beryl_region_558 { fill: var(--region-beryl-558); /* CLA */ }
svg path.beryl_region_560 { fill: var(--region-beryl-560); /* EPd */ }
svg path.beryl_region_561 { fill: var(--region-beryl-561); /* EPv */ }
svg path.beryl_region_562 { fill: var(--region-beryl-562); /* LA */ }
svg path.beryl_region_563 { fill: var(--region-beryl-563); /* BLA */ }
svg path.beryl_region_567 { fill: var(--region-beryl-567); /* BMA */ }
svg path.beryl_region_570 { fill: var(--region-beryl-570); /* PA */ }
svg path.beryl_region_574 { fill: var(--region-beryl-574); /* CP */ }
svg path.beryl_region_576 { fill: var(--region-beryl-576); /* ACB */ }
svg path.beryl_region_577 { fill: var(--region-beryl-577); /* FS */ }
svg path.beryl_region_578 { fill: var(--region-beryl-578); /* OT */ }
svg path.beryl_region_588 { fill: var(--region-beryl-588); /* LSc */ }
svg path.beryl_region_589 { fill: var(--region-beryl-589); /* LSr */ }
svg path.beryl_region_590 { fill: var(--region-beryl-590); /* LSv */ }
svg path.beryl_region_591 { fill: var(--region-beryl-591); /* SF */ }
svg path.beryl_region_592 { fill: var(--region-beryl-592); /* SH */ }
svg path.beryl_region_594 { fill: var(--region-beryl-594); /* AAA */ }
svg path.beryl_region_595 { fill: var(--region-beryl-595); /* BA */ }
svg path.beryl_region_596 { fill: var(--region-beryl-596); /* CEA */ }
svg path.beryl_region_600 { fill: var(--region-beryl-600); /* IA */ }
svg path.beryl_region_601 { fill: var(--region-beryl-601); /* MEA */ }
svg path.beryl_region_611 { fill: var(--region-beryl-611); /* GPe */ }
svg path.beryl_region_612 { fill: var(--region-beryl-612); /* GPi */ }
svg path.beryl_region_614 { fill: var(--region-beryl-614); /* SI */ }
svg path.beryl_region_615 { fill: var(--region-beryl-615); /* MA */ }
svg path.beryl_region_618 { fill: var(--region-beryl-618); /* MS */ }
svg path.beryl_region_619 { fill: var(--region-beryl-619); /* NDB */ }
svg path.beryl_region_620 { fill: var(--region-beryl-620); /* TRS */ }
svg path.beryl_region_622 { fill: var(--region-beryl-622); /* BST */ }
svg path.beryl_region_645 { fill: var(--region-beryl-645); /* VAL */ }
svg path.beryl_region_646 { fill: var(--region-beryl-646); /* VM */ }
svg path.beryl_region_648 { fill: var(--region-beryl-648); /* VPL */ }
svg path.beryl_region_649 { fill: var(--region-beryl-649); /* VPLpc */ }
svg path.beryl_region_650 { fill: var(--region-beryl-650); /* VPM */ }
svg path.beryl_region_651 { fill: var(--region-beryl-651); /* VPMpc */ }
svg path.beryl_region_652 { fill: var(--region-beryl-652); /* PoT */ }
svg path.beryl_region_653 { fill: var(--region-beryl-653); /* SPF */ }
svg path.beryl_region_656 { fill: var(--region-beryl-656); /* SPA */ }
svg path.beryl_region_657 { fill: var(--region-beryl-657); /* PP */ }
svg path.beryl_region_659 { fill: var(--region-beryl-659); /* MG */ }
svg path.beryl_region_663 { fill: var(--region-beryl-663); /* LGd */ }
svg path.beryl_region_669 { fill: var(--region-beryl-669); /* LP */ }
svg path.beryl_region_670 { fill: var(--region-beryl-670); /* PO */ }
svg path.beryl_region_671 { fill: var(--region-beryl-671); /* POL */ }
svg path.beryl_region_672 { fill: var(--region-beryl-672); /* SGN */ }
svg path.beryl_region_673 { fill: var(--region-beryl-673); /* Eth */ }
svg path.beryl_region_676 { fill: var(--region-beryl-676); /* AV */ }
svg path.beryl_region_677 { fill: var(--region-beryl-677); /* AM */ }
svg path.beryl_region_680 { fill: var(--region-beryl-680); /* AD */ }
svg path.beryl_region_681 { fill: var(--region-beryl-681); /* IAM */ }
svg path.beryl_region_682 { fill: var(--region-beryl-682); /* IAD */ }
svg path.beryl_region_683 { fill: var(--region-beryl-683); /* LD */ }
svg path.beryl_region_685 { fill: var(--region-beryl-685); /* IMD */ }
svg path.beryl_region_686 { fill: var(--region-beryl-686); /* MD */ }
svg path.beryl_region_690 { fill: var(--region-beryl-690); /* SMT */ }
svg path.beryl_region_691 { fill: var(--region-beryl-691); /* PR */ }
svg path.beryl_region_693 { fill: var(--region-beryl-693); /* PVT */ }
svg path.beryl_region_694 { fill: var(--region-beryl-694); /* PT */ }
svg path.beryl_region_695 { fill: var(--region-beryl-695); /* RE */ }
svg path.beryl_region_696 { fill: var(--region-beryl-696); /* Xi */ }
svg path.beryl_region_698 { fill: var(--region-beryl-698); /* RH */ }
svg path.beryl_region_699 { fill: var(--region-beryl-699); /* CM */ }
svg path.beryl_region_700 { fill: var(--region-beryl-700); /* PCN */ }
svg path.beryl_region_701 { fill: var(--region-beryl-701); /* CL */ }
svg path.beryl_region_702 { fill: var(--region-beryl-702); /* PF */ }
svg path.beryl_region_703 { fill: var(--region-beryl-703); /* PIL */ }
svg path.beryl_region_704 { fill: var(--region-beryl-704); /* RT */ }
svg path.beryl_region_706 { fill: var(--region-beryl-706); /* IGL */ }
svg path.beryl_region_707 { fill: var(--region-beryl-707); /* IntG */ }
svg path.beryl_region_708 { fill: var(--region-beryl-708); /* LGv */ }
svg path.beryl_region_711 { fill: var(--region-beryl-711); /* SubG */ }
svg path.beryl_region_713 { fill: var(--region-beryl-713); /* MH */ }
svg path.beryl_region_714 { fill: var(--region-beryl-714); /* LH */ }
svg path.beryl_region_718 { fill: var(--region-beryl-718); /* SO */ }
svg path.beryl_region_721 { fill: var(--region-beryl-721); /* PVH */ }
svg path.beryl_region_732 { fill: var(--region-beryl-732); /* PVa */ }
svg path.beryl_region_733 { fill: var(--region-beryl-733); /* PVi */ }
svg path.beryl_region_734 { fill: var(--region-beryl-734); /* ARH */ }
svg path.beryl_region_736 { fill: var(--region-beryl-736); /* ADP */ }
svg path.beryl_region_738 { fill: var(--region-beryl-738); /* AVP */ }
svg path.beryl_region_739 { fill: var(--region-beryl-739); /* AVPV */ }
svg path.beryl_region_740 { fill: var(--region-beryl-740); /* DMH */ }
svg path.beryl_region_744 { fill: var(--region-beryl-744); /* MEPO */ }
svg path.beryl_region_745 { fill: var(--region-beryl-745); /* MPO */ }
svg path.beryl_region_748 { fill: var(--region-beryl-748); /* PS */ }
svg path.beryl_region_750 { fill: var(--region-beryl-750); /* PVp */ }
svg path.beryl_region_751 { fill: var(--region-beryl-751); /* PVpo */ }
svg path.beryl_region_752 { fill: var(--region-beryl-752); /* SBPV */ }
svg path.beryl_region_753 { fill: var(--region-beryl-753); /* SCH */ }
svg path.beryl_region_754 { fill: var(--region-beryl-754); /* SFO */ }
svg path.beryl_region_755 { fill: var(--region-beryl-755); /* VMPO */ }
svg path.beryl_region_756 { fill: var(--region-beryl-756); /* VLPO */ }
svg path.beryl_region_758 { fill: var(--region-beryl-758); /* AHN */ }
svg path.beryl_region_764 { fill: var(--region-beryl-764); /* LM */ }
svg path.beryl_region_765 { fill: var(--region-beryl-765); /* MM */ }
svg path.beryl_region_771 { fill: var(--region-beryl-771); /* SUM */ }
svg path.beryl_region_774 { fill: var(--region-beryl-774); /* TM */ }
svg path.beryl_region_777 { fill: var(--region-beryl-777); /* MPN */ }
svg path.beryl_region_781 { fill: var(--region-beryl-781); /* PMd */ }
svg path.beryl_region_782 { fill: var(--region-beryl-782); /* PMv */ }
svg path.beryl_region_783 { fill: var(--region-beryl-783); /* PVHd */ }
svg path.beryl_region_788 { fill: var(--region-beryl-788); /* VMH */ }
svg path.beryl_region_793 { fill: var(--region-beryl-793); /* PH */ }
svg path.beryl_region_795 { fill: var(--region-beryl-795); /* LHA */ }
svg path.beryl_region_796 { fill: var(--region-beryl-796); /* LPO */ }
svg path.beryl_region_798 { fill: var(--region-beryl-798); /* PSTN */ }
svg path.beryl_region_799 { fill: var(--region-beryl-799); /* PeF */ }
svg path.beryl_region_800 { fill: var(--region-beryl-800); /* RCH */ }
svg path.beryl_region_801 { fill: var(--region-beryl-801); /* STN */ }
svg path.beryl_region_802 { fill: var(--region-beryl-802); /* TU */ }
svg path.beryl_region_803 { fill: var(--region-beryl-803); /* ZI */ }
svg path.beryl_region_809 { fill: var(--region-beryl-809); /* SCs */ }
svg path.beryl_region_813 { fill: var(--region-beryl-813); /* IC */ }
svg path.beryl_region_817 { fill: var(--region-beryl-817); /* NB */ }
svg path.beryl_region_818 { fill: var(--region-beryl-818); /* SAG */ }
svg path.beryl_region_819 { fill: var(--region-beryl-819); /* PBG */ }
svg path.beryl_region_823 { fill: var(--region-beryl-823); /* SNr */ }
svg path.beryl_region_824 { fill: var(--region-beryl-824); /* VTA */ }
svg path.beryl_region_825 { fill: var(--region-beryl-825); /* PN */ }
svg path.beryl_region_826 { fill: var(--region-beryl-826); /* RR */ }
svg path.beryl_region_827 { fill: var(--region-beryl-827); /* MRN */ }
svg path.beryl_region_831 { fill: var(--region-beryl-831); /* SCm */ }
svg path.beryl_region_839 { fill: var(--region-beryl-839); /* PAG */ }
svg path.beryl_region_845 { fill: var(--region-beryl-845); /* APN */ }
svg path.beryl_region_846 { fill: var(--region-beryl-846); /* MPT */ }
svg path.beryl_region_847 { fill: var(--region-beryl-847); /* NOT */ }
svg path.beryl_region_848 { fill: var(--region-beryl-848); /* NPC */ }
svg path.beryl_region_849 { fill: var(--region-beryl-849); /* OP */ }
svg path.beryl_region_850 { fill: var(--region-beryl-850); /* PPT */ }
svg path.beryl_region_851 { fill: var(--region-beryl-851); /* RPF */ }
svg path.beryl_region_853 { fill: var(--region-beryl-853); /* CUN */ }
svg path.beryl_region_854 { fill: var(--region-beryl-854); /* RN */ }
svg path.beryl_region_855 { fill: var(--region-beryl-855); /* III */ }
svg path.beryl_region_856 { fill: var(--region-beryl-856); /* MA3 */ }
svg path.beryl_region_857 { fill: var(--region-beryl-857); /* EW */ }
svg path.beryl_region_858 { fill: var(--region-beryl-858); /* IV */ }
svg path.beryl_region_859 { fill: var(--region-beryl-859); /* Pa4 */ }
svg path.beryl_region_860 { fill: var(--region-beryl-860); /* VTN */ }
svg path.beryl_region_861 { fill: var(--region-beryl-861); /* AT */ }
svg path.beryl_region_862 { fill: var(--region-beryl-862); /* LT */ }
svg path.beryl_region_863 { fill: var(--region-beryl-863); /* DT */ }
svg path.beryl_region_864 { fill: var(--region-beryl-864); /* MT */ }
svg path.beryl_region_867 { fill: var(--region-beryl-867); /* SNc */ }
svg path.beryl_region_868 { fill: var(--region-beryl-868); /* PPN */ }
svg path.beryl_region_870 { fill: var(--region-beryl-870); /* IF */ }
svg path.beryl_region_871 { fill: var(--region-beryl-871); /* IPN */ }
svg path.beryl_region_880 { fill: var(--region-beryl-880); /* RL */ }
svg path.beryl_region_881 { fill: var(--region-beryl-881); /* CLI */ }
svg path.beryl_region_882 { fill: var(--region-beryl-882); /* DR */ }
svg path.beryl_region_886 { fill: var(--region-beryl-886); /* NLL */ }
svg path.beryl_region_890 { fill: var(--region-beryl-890); /* PSV */ }
svg path.beryl_region_891 { fill: var(--region-beryl-891); /* PB */ }
svg path.beryl_region_903 { fill: var(--region-beryl-903); /* SOC */ }
svg path.beryl_region_908 { fill: var(--region-beryl-908); /* B */ }
svg path.beryl_region_909 { fill: var(--region-beryl-909); /* DTN */ }
svg path.beryl_region_911 { fill: var(--region-beryl-911); /* PDTg */ }
svg path.beryl_region_912 { fill: var(--region-beryl-912); /* PCG */ }
svg path.beryl_region_913 { fill: var(--region-beryl-913); /* PG */ }
svg path.beryl_region_914 { fill: var(--region-beryl-914); /* PRNc */ }
svg path.beryl_region_916 { fill: var(--region-beryl-916); /* SG */ }
svg path.beryl_region_918 { fill: var(--region-beryl-918); /* SUT */ }
svg path.beryl_region_919 { fill: var(--region-beryl-919); /* TRN */ }
svg path.beryl_region_920 { fill: var(--region-beryl-920); /* V */ }
svg path.beryl_region_921 { fill: var(--region-beryl-921); /* P5 */ }
svg path.beryl_region_922 { fill: var(--region-beryl-922); /* Acs5 */ }
svg path.beryl_region_923 { fill: var(--region-beryl-923); /* PC5 */ }
svg path.beryl_region_924 { fill: var(--region-beryl-924); /* I5 */ }
svg path.beryl_region_926 { fill: var(--region-beryl-926); /* CS */ }
svg path.beryl_region_929 { fill: var(--region-beryl-929); /* LC */ }
svg path.beryl_region_930 { fill: var(--region-beryl-930); /* LDT */ }
svg path.beryl_region_931 { fill: var(--region-beryl-931); /* NI */ }
svg path.beryl_region_932 { fill: var(--region-beryl-932); /* PRNr */ }
svg path.beryl_region_933 { fill: var(--region-beryl-933); /* RPO */ }
svg path.beryl_region_934 { fill: var(--region-beryl-934); /* SLC */ }
svg path.beryl_region_935 { fill: var(--region-beryl-935); /* SLD */ }
svg path.beryl_region_938 { fill: var(--region-beryl-938); /* AP */ }
svg path.beryl_region_942 { fill: var(--region-beryl-942); /* DCO */ }
svg path.beryl_region_943 { fill: var(--region-beryl-943); /* VCO */ }
svg path.beryl_region_945 { fill: var(--region-beryl-945); /* CU */ }
svg path.beryl_region_946 { fill: var(--region-beryl-946); /* GR */ }
svg path.beryl_region_947 { fill: var(--region-beryl-947); /* ECU */ }
svg path.beryl_region_948 { fill: var(--region-beryl-948); /* NTB */ }
svg path.beryl_region_949 { fill: var(--region-beryl-949); /* NTS */ }
svg path.beryl_region_955 { fill: var(--region-beryl-955); /* SPVC */ }
svg path.beryl_region_956 { fill: var(--region-beryl-956); /* SPVI */ }
svg path.beryl_region_957 { fill: var(--region-beryl-957); /* SPVO */ }
svg path.beryl_region_963 { fill: var(--region-beryl-963); /* Pa5 */ }
svg path.beryl_region_966 { fill: var(--region-beryl-966); /* VI */ }
svg path.beryl_region_968 { fill: var(--region-beryl-968); /* VII */ }
svg path.beryl_region_971 { fill: var(--region-beryl-971); /* AMB */ }
svg path.beryl_region_974 { fill: var(--region-beryl-974); /* DMX */ }
svg path.beryl_region_976 { fill: var(--region-beryl-976); /* GRN */ }
svg path.beryl_region_977 { fill: var(--region-beryl-977); /* ICB */ }
svg path.beryl_region_978 { fill: var(--region-beryl-978); /* IO */ }
svg path.beryl_region_979 { fill: var(--region-beryl-979); /* IRN */ }
svg path.beryl_region_980 { fill: var(--region-beryl-980); /* ISN */ }
svg path.beryl_region_981 { fill: var(--region-beryl-981); /* LIN */ }
svg path.beryl_region_982 { fill: var(--region-beryl-982); /* LRN */ }
svg path.beryl_region_985 { fill: var(--region-beryl-985); /* MARN */ }
svg path.beryl_region_986 { fill: var(--region-beryl-986); /* MDRN */ }
svg path.beryl_region_989 { fill: var(--region-beryl-989); /* PARN */ }
svg path.beryl_region_990 { fill: var(--region-beryl-990); /* PAS */ }
svg path.beryl_region_991 { fill: var(--region-beryl-991); /* PGRN */ }
svg path.beryl_region_996 { fill: var(--region-beryl-996); /* NR */ }
svg path.beryl_region_997 { fill: var(--region-beryl-997); /* PRP */ }
svg path.beryl_region_999 { fill: var(--region-beryl-999); /* PPY */ }
svg path.beryl_region_1003 { fill: var(--region-beryl-1003); /* LAV */ }
svg path.beryl_region_1004 { fill: var(--region-beryl-1004); /* MV */ }
svg path.beryl_region_1005 { fill: var(--region-beryl-1005); /* SPIV */ }
svg path.beryl_region_1006 { fill: var(--region-beryl-1006); /* SUV */ }
svg path.beryl_region_1007 { fill: var(--region-beryl-1007); /* x */ }
svg path.beryl_region_1008 { fill: var(--region-beryl-1008); /* XII */ }
svg path.beryl_region_1009 { fill: var(--region-beryl-1009); /* y */ }
svg path.beryl_region_1012 { fill: var(--region-beryl-1012); /* RM */ }
svg path.beryl_region_1013 { fill: var(--region-beryl-1013); /* RPA */ }
svg path.beryl_region_1014 { fill: var(--region-beryl-1014); /* RO */ }
svg path.beryl_region_1021 { fill: var(--region-beryl-1021); /* LING */ }
svg path.beryl_region_1026 { fill: var(--region-beryl-1026); /* CENT2 */ }
svg path.beryl_region_1030 { fill: var(--region-beryl-1030); /* CENT3 */ }
svg path.beryl_region_1043 { fill: var(--region-beryl-1043); /* CUL4 5 */ }
svg path.beryl_region_1047 { fill: var(--region-beryl-1047); /* DEC */ }
svg path.beryl_region_1051 { fill: var(--region-beryl-1051); /* FOTU */ }
svg path.beryl_region_1055 { fill: var(--region-beryl-1055); /* PYR */ }
svg path.beryl_region_1059 { fill: var(--region-beryl-1059); /* UVU */ }
svg path.beryl_region_1063 { fill: var(--region-beryl-1063); /* NOD */ }
svg path.beryl_region_1068 { fill: var(--region-beryl-1068); /* SIM */ }
svg path.beryl_region_1073 { fill: var(--region-beryl-1073); /* ANcr1 */ }
svg path.beryl_region_1077 { fill: var(--region-beryl-1077); /* ANcr2 */ }
svg path.beryl_region_1081 { fill: var(--region-beryl-1081); /* PRM */ }
svg path.beryl_region_1085 { fill: var(--region-beryl-1085); /* COPY */ }
svg path.beryl_region_1089 { fill: var(--region-beryl-1089); /* PFL */ }
svg path.beryl_region_1093 { fill: var(--region-beryl-1093); /* FL */ }
svg path.beryl_region_1098 { fill: var(--region-beryl-1098); /* FN */ }
svg path.beryl_region_1099 { fill: var(--region-beryl-1099); /* IP */ }
svg path.beryl_region_1100 { fill: var(--region-beryl-1100); /* DN */ }
svg path.beryl_region_1101 { fill: var(--region-beryl-1101); /* VeCB */ }
svg path.beryl_region_1334 { fill: var(--region-beryl-1334); /* FRP */ }
svg path.beryl_region_1346 { fill: var(--region-beryl-1346); /* MOp */ }
svg path.beryl_region_1352 { fill: var(--region-beryl-1352); /* MOs */ }
svg path.beryl_region_1372 { fill: var(--region-beryl-1372); /* SSp-n */ }
svg path.beryl_region_1379 { fill: var(--region-beryl-1379); /* SSp-bfd */ }
svg path.beryl_region_1393 { fill: var(--region-beryl-1393); /* SSp-ll */ }
svg path.beryl_region_1400 { fill: var(--region-beryl-1400); /* SSp-m */ }
svg path.beryl_region_1407 { fill: var(--region-beryl-1407); /* SSp-ul */ }
svg path.beryl_region_1414 { fill: var(--region-beryl-1414); /* SSp-tr */ }
svg path.beryl_region_1421 { fill: var(--region-beryl-1421); /* SSp-un */ }
svg path.beryl_region_1428 { fill: var(--region-beryl-1428); /* SSs */ }
svg path.beryl_region_1435 { fill: var(--region-beryl-1435); /* GU */ }
svg path.beryl_region_1442 { fill: var(--region-beryl-1442); /* VISC */ }
svg path.beryl_region_1450 { fill: var(--region-beryl-1450); /* AUDd */ }
svg path.beryl_region_1464 { fill: var(--region-beryl-1464); /* AUDp */ }
svg path.beryl_region_1471 { fill: var(--region-beryl-1471); /* AUDpo */ }
svg path.beryl_region_1478 { fill: var(--region-beryl-1478); /* AUDv */ }
svg path.beryl_region_1492 { fill: var(--region-beryl-1492); /* VISal */ }
svg path.beryl_region_1499 { fill: var(--region-beryl-1499); /* VISam */ }
svg path.beryl_region_1506 { fill: var(--region-beryl-1506); /* VISl */ }
svg path.beryl_region_1513 { fill: var(--region-beryl-1513); /* VISp */ }
svg path.beryl_region_1520 { fill: var(--region-beryl-1520); /* VISpl */ }
svg path.beryl_region_1527 { fill: var(--region-beryl-1527); /* VISpm */ }
svg path.beryl_region_1534 { fill: var(--region-beryl-1534); /* VISli */ }
svg path.beryl_region_1541 { fill: var(--region-beryl-1541); /* VISpor */ }
svg path.beryl_region_1554 { fill: var(--region-beryl-1554); /* ACAd */ }
svg path.beryl_region_1560 { fill: var(--region-beryl-1560); /* ACAv */ }
svg path.beryl_region_1566 { fill: var(--region-beryl-1566); /* PL */ }
svg path.beryl_region_1573 { fill: var(--region-beryl-1573); /* ILA */ }
svg path.beryl_region_1586 { fill: var(--region-beryl-1586); /* ORBl */ }
svg path.beryl_region_1592 { fill: var(--region-beryl-1592); /* ORBm */ }
svg path.beryl_region_1600 { fill: var(--region-beryl-1600); /* ORBvl */ }
svg path.beryl_region_1607 { fill: var(--region-beryl-1607); /* AId */ }
svg path.beryl_region_1613 { fill: var(--region-beryl-1613); /* AIp */ }
svg path.beryl_region_1619 { fill: var(--region-beryl-1619); /* AIv */ }
svg path.beryl_region_1626 { fill: var(--region-beryl-1626); /* RSPagl */ }
svg path.beryl_region_1653 { fill: var(--region-beryl-1653); /* RSPd */ }
svg path.beryl_region_1660 { fill: var(--region-beryl-1660); /* RSPv */ }
svg path.beryl_region_1674 { fill: var(--region-beryl-1674); /* VISa */ }
svg path.beryl_region_1681 { fill: var(--region-beryl-1681); /* VISrl */ }
svg path.beryl_region_1688 { fill: var(--region-beryl-1688); /* TEa */ }
svg path.beryl_region_1695 { fill: var(--region-beryl-1695); /* PERI */ }
svg path.beryl_region_1701 { fill: var(--region-beryl-1701); /* ECT */ }
svg path.beryl_region_1708 { fill: var(--region-beryl-1708); /* MOB */ }
svg path.beryl_region_1714 { fill: var(--region-beryl-1714); /* AOB */ }
svg path.beryl_region_1718 { fill: var(--region-beryl-1718); /* AON */ }
svg path.beryl_region_1727 { fill: var(--region-beryl-1727); /* TTd */ }
svg path.beryl_region_1733 { fill: var(--region-beryl-1733); /* TTv */ }
svg path.beryl_region_1738 { fill: var(--region-beryl-1738); /* DP */ }
svg path.beryl_region_1744 { fill: var(--region-beryl-1744); /* PIR */ }
svg path.beryl_region_1749 { fill: var(--region-beryl-1749); /* NLOT */ }
svg path.beryl_region_1755 { fill: var(--region-beryl-1755); /* COAa */ }
svg path.beryl_region_1759 { fill: var(--region-beryl-1759); /* COAp */ }
svg path.beryl_region_1772 { fill: var(--region-beryl-1772); /* PAA */ }
svg path.beryl_region_1777 { fill: var(--region-beryl-1777); /* TR */ }
svg path.beryl_region_1785 { fill: var(--region-beryl-1785); /* CA1 */ }
svg path.beryl_region_1790 { fill: var(--region-beryl-1790); /* CA2 */ }
svg path.beryl_region_1795 { fill: var(--region-beryl-1795); /* CA3 */ }
svg path.beryl_region_1801 { fill: var(--region-beryl-1801); /* DG */ }
svg path.beryl_region_1818 { fill: var(--region-beryl-1818); /* FC */ }
svg path.beryl_region_1819 { fill: var(--region-beryl-1819); /* IG */ }
svg path.beryl_region_1822 { fill: var(--region-beryl-1822); /* ENTl */ }
svg path.beryl_region_1835 { fill: var(--region-beryl-1835); /* ENTm */ }
svg path.beryl_region_1851 { fill: var(--region-beryl-1851); /* PAR */ }
svg path.beryl_region_1855 { fill: var(--region-beryl-1855); /* POST */ }
svg path.beryl_region_1859 { fill: var(--region-beryl-1859); /* PRE */ }
svg path.beryl_region_1863 { fill: var(--region-beryl-1863); /* SUB */ }
svg path.beryl_region_1872 { fill: var(--region-beryl-1872); /* ProS */ }
svg path.beryl_region_1881 { fill: var(--region-beryl-1881); /* HATA */ }
svg path.beryl_region_1882 { fill: var(--region-beryl-1882); /* APr */ }
svg path.beryl_region_1885 { fill: var(--region-beryl-1885); /* CLA */ }
svg path.beryl_region_1887 { fill: var(--region-beryl-1887); /* EPd */ }
svg path.beryl_region_1888 { fill: var(--region-beryl-1888); /* EPv */ }
svg path.beryl_region_1889 { fill: var(--region-beryl-1889); /* LA */ }
svg path.beryl_region_1890 { fill: var(--region-beryl-1890); /* BLA */ }
svg path.beryl_region_1894 { fill: var(--region-beryl-1894); /* BMA */ }
svg path.beryl_region_1897 { fill: var(--region-beryl-1897); /* PA */ }
svg path.beryl_region_1901 { fill: var(--region-beryl-1901); /* CP */ }
svg path.beryl_region_1903 { fill: var(--region-beryl-1903); /* ACB */ }
svg path.beryl_region_1904 { fill: var(--region-beryl-1904); /* FS */ }
svg path.beryl_region_1905 { fill: var(--region-beryl-1905); /* OT */ }
svg path.beryl_region_1915 { fill: var(--region-beryl-1915); /* LSc */ }
svg path.beryl_region_1916 { fill: var(--region-beryl-1916); /* LSr */ }
svg path.beryl_region_1917 { fill: var(--region-beryl-1917); /* LSv */ }
svg path.beryl_region_1918 { fill: var(--region-beryl-1918); /* SF */ }
svg path.beryl_region_1919 { fill: var(--region-beryl-1919); /* SH */ }
svg path.beryl_region_1921 { fill: var(--region-beryl-1921); /* AAA */ }
svg path.beryl_region_1922 { fill: var(--region-beryl-1922); /* BA */ }
svg path.beryl_region_1923 { fill: var(--region-beryl-1923); /* CEA */ }
svg path.beryl_region_1927 { fill: var(--region-beryl-1927); /* IA */ }
svg path.beryl_region_1928 { fill: var(--region-beryl-1928); /* MEA */ }
svg path.beryl_region_1938 { fill: var(--region-beryl-1938); /* GPe */ }
svg path.beryl_region_1939 { fill: var(--region-beryl-1939); /* GPi */ }
svg path.beryl_region_1941 { fill: var(--region-beryl-1941); /* SI */ }
svg path.beryl_region_1942 { fill: var(--region-beryl-1942); /* MA */ }
svg path.beryl_region_1945 { fill: var(--region-beryl-1945); /* MS */ }
svg path.beryl_region_1946 { fill: var(--region-beryl-1946); /* NDB */ }
svg path.beryl_region_1947 { fill: var(--region-beryl-1947); /* TRS */ }
svg path.beryl_region_1949 { fill: var(--region-beryl-1949); /* BST */ }
svg path.beryl_region_1972 { fill: var(--region-beryl-1972); /* VAL */ }
svg path.beryl_region_1973 { fill: var(--region-beryl-1973); /* VM */ }
svg path.beryl_region_1975 { fill: var(--region-beryl-1975); /* VPL */ }
svg path.beryl_region_1976 { fill: var(--region-beryl-1976); /* VPLpc */ }
svg path.beryl_region_1977 { fill: var(--region-beryl-1977); /* VPM */ }
svg path.beryl_region_1978 { fill: var(--region-beryl-1978); /* VPMpc */ }
svg path.beryl_region_1979 { fill: var(--region-beryl-1979); /* PoT */ }
svg path.beryl_region_1980 { fill: var(--region-beryl-1980); /* SPF */ }
svg path.beryl_region_1983 { fill: var(--region-beryl-1983); /* SPA */ }
svg path.beryl_region_1984 { fill: var(--region-beryl-1984); /* PP */ }
svg path.beryl_region_1986 { fill: var(--region-beryl-1986); /* MG */ }
svg path.beryl_region_1990 { fill: var(--region-beryl-1990); /* LGd */ }
svg path.beryl_region_1996 { fill: var(--region-beryl-1996); /* LP */ }
svg path.beryl_region_1997 { fill: var(--region-beryl-1997); /* PO */ }
svg path.beryl_region_1998 { fill: var(--region-beryl-1998); /* POL */ }
svg path.beryl_region_1999 { fill: var(--region-beryl-1999); /* SGN */ }
svg path.beryl_region_2000 { fill: var(--region-beryl-2000); /* Eth */ }
svg path.beryl_region_2003 { fill: var(--region-beryl-2003); /* AV */ }
svg path.beryl_region_2004 { fill: var(--region-beryl-2004); /* AM */ }
svg path.beryl_region_2007 { fill: var(--region-beryl-2007); /* AD */ }
svg path.beryl_region_2008 { fill: var(--region-beryl-2008); /* IAM */ }
svg path.beryl_region_2009 { fill: var(--region-beryl-2009); /* IAD */ }
svg path.beryl_region_2010 { fill: var(--region-beryl-2010); /* LD */ }
svg path.beryl_region_2012 { fill: var(--region-beryl-2012); /* IMD */ }
svg path.beryl_region_2013 { fill: var(--region-beryl-2013); /* MD */ }
svg path.beryl_region_2017 { fill: var(--region-beryl-2017); /* SMT */ }
svg path.beryl_region_2018 { fill: var(--region-beryl-2018); /* PR */ }
svg path.beryl_region_2020 { fill: var(--region-beryl-2020); /* PVT */ }
svg path.beryl_region_2021 { fill: var(--region-beryl-2021); /* PT */ }
svg path.beryl_region_2022 { fill: var(--region-beryl-2022); /* RE */ }
svg path.beryl_region_2023 { fill: var(--region-beryl-2023); /* Xi */ }
svg path.beryl_region_2025 { fill: var(--region-beryl-2025); /* RH */ }
svg path.beryl_region_2026 { fill: var(--region-beryl-2026); /* CM */ }
svg path.beryl_region_2027 { fill: var(--region-beryl-2027); /* PCN */ }
svg path.beryl_region_2028 { fill: var(--region-beryl-2028); /* CL */ }
svg path.beryl_region_2029 { fill: var(--region-beryl-2029); /* PF */ }
svg path.beryl_region_2030 { fill: var(--region-beryl-2030); /* PIL */ }
svg path.beryl_region_2031 { fill: var(--region-beryl-2031); /* RT */ }
svg path.beryl_region_2033 { fill: var(--region-beryl-2033); /* IGL */ }
svg path.beryl_region_2034 { fill: var(--region-beryl-2034); /* IntG */ }
svg path.beryl_region_2035 { fill: var(--region-beryl-2035); /* LGv */ }
svg path.beryl_region_2038 { fill: var(--region-beryl-2038); /* SubG */ }
svg path.beryl_region_2040 { fill: var(--region-beryl-2040); /* MH */ }
svg path.beryl_region_2041 { fill: var(--region-beryl-2041); /* LH */ }
svg path.beryl_region_2045 { fill: var(--region-beryl-2045); /* SO */ }
svg path.beryl_region_2048 { fill: var(--region-beryl-2048); /* PVH */ }
svg path.beryl_region_2059 { fill: var(--region-beryl-2059); /* PVa */ }
svg path.beryl_region_2060 { fill: var(--region-beryl-2060); /* PVi */ }
svg path.beryl_region_2061 { fill: var(--region-beryl-2061); /* ARH */ }
svg path.beryl_region_2063 { fill: var(--region-beryl-2063); /* ADP */ }
svg path.beryl_region_2065 { fill: var(--region-beryl-2065); /* AVP */ }
svg path.beryl_region_2066 { fill: var(--region-beryl-2066); /* AVPV */ }
svg path.beryl_region_2067 { fill: var(--region-beryl-2067); /* DMH */ }
svg path.beryl_region_2071 { fill: var(--region-beryl-2071); /* MEPO */ }
svg path.beryl_region_2072 { fill: var(--region-beryl-2072); /* MPO */ }
svg path.beryl_region_2075 { fill: var(--region-beryl-2075); /* PS */ }
svg path.beryl_region_2077 { fill: var(--region-beryl-2077); /* PVp */ }
svg path.beryl_region_2078 { fill: var(--region-beryl-2078); /* PVpo */ }
svg path.beryl_region_2079 { fill: var(--region-beryl-2079); /* SBPV */ }
svg path.beryl_region_2080 { fill: var(--region-beryl-2080); /* SCH */ }
svg path.beryl_region_2081 { fill: var(--region-beryl-2081); /* SFO */ }
svg path.beryl_region_2082 { fill: var(--region-beryl-2082); /* VMPO */ }
svg path.beryl_region_2083 { fill: var(--region-beryl-2083); /* VLPO */ }
svg path.beryl_region_2085 { fill: var(--region-beryl-2085); /* AHN */ }
svg path.beryl_region_2091 { fill: var(--region-beryl-2091); /* LM */ }
svg path.beryl_region_2092 { fill: var(--region-beryl-2092); /* MM */ }
svg path.beryl_region_2098 { fill: var(--region-beryl-2098); /* SUM */ }
svg path.beryl_region_2101 { fill: var(--region-beryl-2101); /* TM */ }
svg path.beryl_region_2104 { fill: var(--region-beryl-2104); /* MPN */ }
svg path.beryl_region_2108 { fill: var(--region-beryl-2108); /* PMd */ }
svg path.beryl_region_2109 { fill: var(--region-beryl-2109); /* PMv */ }
svg path.beryl_region_2110 { fill: var(--region-beryl-2110); /* PVHd */ }
svg path.beryl_region_2115 { fill: var(--region-beryl-2115); /* VMH */ }
svg path.beryl_region_2120 { fill: var(--region-beryl-2120); /* PH */ }
svg path.beryl_region_2122 { fill: var(--region-beryl-2122); /* LHA */ }
svg path.beryl_region_2123 { fill: var(--region-beryl-2123); /* LPO */ }
svg path.beryl_region_2125 { fill: var(--region-beryl-2125); /* PSTN */ }
svg path.beryl_region_2126 { fill: var(--region-beryl-2126); /* PeF */ }
svg path.beryl_region_2127 { fill: var(--region-beryl-2127); /* RCH */ }
svg path.beryl_region_2128 { fill: var(--region-beryl-2128); /* STN */ }
svg path.beryl_region_2129 { fill: var(--region-beryl-2129); /* TU */ }
svg path.beryl_region_2130 { fill: var(--region-beryl-2130); /* ZI */ }
svg path.beryl_region_2136 { fill: var(--region-beryl-2136); /* SCs */ }
svg path.beryl_region_2140 { fill: var(--region-beryl-2140); /* IC */ }
svg path.beryl_region_2144 { fill: var(--region-beryl-2144); /* NB */ }
svg path.beryl_region_2145 { fill: var(--region-beryl-2145); /* SAG */ }
svg path.beryl_region_2146 { fill: var(--region-beryl-2146); /* PBG */ }
svg path.beryl_region_2150 { fill: var(--region-beryl-2150); /* SNr */ }
svg path.beryl_region_2151 { fill: var(--region-beryl-2151); /* VTA */ }
svg path.beryl_region_2152 { fill: var(--region-beryl-2152); /* PN */ }
svg path.beryl_region_2153 { fill: var(--region-beryl-2153); /* RR */ }
svg path.beryl_region_2154 { fill: var(--region-beryl-2154); /* MRN */ }
svg path.beryl_region_2158 { fill: var(--region-beryl-2158); /* SCm */ }
svg path.beryl_region_2166 { fill: var(--region-beryl-2166); /* PAG */ }
svg path.beryl_region_2172 { fill: var(--region-beryl-2172); /* APN */ }
svg path.beryl_region_2173 { fill: var(--region-beryl-2173); /* MPT */ }
svg path.beryl_region_2174 { fill: var(--region-beryl-2174); /* NOT */ }
svg path.beryl_region_2175 { fill: var(--region-beryl-2175); /* NPC */ }
svg path.beryl_region_2176 { fill: var(--region-beryl-2176); /* OP */ }
svg path.beryl_region_2177 { fill: var(--region-beryl-2177); /* PPT */ }
svg path.beryl_region_2178 { fill: var(--region-beryl-2178); /* RPF */ }
svg path.beryl_region_2180 { fill: var(--region-beryl-2180); /* CUN */ }
svg path.beryl_region_2181 { fill: var(--region-beryl-2181); /* RN */ }
svg path.beryl_region_2182 { fill: var(--region-beryl-2182); /* III */ }
svg path.beryl_region_2183 { fill: var(--region-beryl-2183); /* MA3 */ }
svg path.beryl_region_2184 { fill: var(--region-beryl-2184); /* EW */ }
svg path.beryl_region_2185 { fill: var(--region-beryl-2185); /* IV */ }
svg path.beryl_region_2186 { fill: var(--region-beryl-2186); /* Pa4 */ }
svg path.beryl_region_2187 { fill: var(--region-beryl-2187); /* VTN */ }
svg path.beryl_region_2188 { fill: var(--region-beryl-2188); /* AT */ }
svg path.beryl_region_2189 { fill: var(--region-beryl-2189); /* LT */ }
svg path.beryl_region_2190 { fill: var(--region-beryl-2190); /* DT */ }
svg path.beryl_region_2191 { fill: var(--region-beryl-2191); /* MT */ }
svg path.beryl_region_2194 { fill: var(--region-beryl-2194); /* SNc */ }
svg path.beryl_region_2195 { fill: var(--region-beryl-2195); /* PPN */ }
svg path.beryl_region_2197 { fill: var(--region-beryl-2197); /* IF */ }
svg path.beryl_region_2198 { fill: var(--region-beryl-2198); /* IPN */ }
svg path.beryl_region_2207 { fill: var(--region-beryl-2207); /* RL */ }
svg path.beryl_region_2208 { fill: var(--region-beryl-2208); /* CLI */ }
svg path.beryl_region_2209 { fill: var(--region-beryl-2209); /* DR */ }
svg path.beryl_region_2213 { fill: var(--region-beryl-2213); /* NLL */ }
svg path.beryl_region_2217 { fill: var(--region-beryl-2217); /* PSV */ }
svg path.beryl_region_2218 { fill: var(--region-beryl-2218); /* PB */ }
svg path.beryl_region_2230 { fill: var(--region-beryl-2230); /* SOC */ }
svg path.beryl_region_2235 { fill: var(--region-beryl-2235); /* B */ }
svg path.beryl_region_2236 { fill: var(--region-beryl-2236); /* DTN */ }
svg path.beryl_region_2238 { fill: var(--region-beryl-2238); /* PDTg */ }
svg path.beryl_region_2239 { fill: var(--region-beryl-2239); /* PCG */ }
svg path.beryl_region_2240 { fill: var(--region-beryl-2240); /* PG */ }
svg path.beryl_region_2241 { fill: var(--region-beryl-2241); /* PRNc */ }
svg path.beryl_region_2243 { fill: var(--region-beryl-2243); /* SG */ }
svg path.beryl_region_2245 { fill: var(--region-beryl-2245); /* SUT */ }
svg path.beryl_region_2246 { fill: var(--region-beryl-2246); /* TRN */ }
svg path.beryl_region_2247 { fill: var(--region-beryl-2247); /* V */ }
svg path.beryl_region_2248 { fill: var(--region-beryl-2248); /* P5 */ }
svg path.beryl_region_2249 { fill: var(--region-beryl-2249); /* Acs5 */ }
svg path.beryl_region_2250 { fill: var(--region-beryl-2250); /* PC5 */ }
svg path.beryl_region_2251 { fill: var(--region-beryl-2251); /* I5 */ }
svg path.beryl_region_2253 { fill: var(--region-beryl-2253); /* CS */ }
svg path.beryl_region_2256 { fill: var(--region-beryl-2256); /* LC */ }
svg path.beryl_region_2257 { fill: var(--region-beryl-2257); /* LDT */ }
svg path.beryl_region_2258 { fill: var(--region-beryl-2258); /* NI */ }
svg path.beryl_region_2259 { fill: var(--region-beryl-2259); /* PRNr */ }
svg path.beryl_region_2260 { fill: var(--region-beryl-2260); /* RPO */ }
svg path.beryl_region_2261 { fill: var(--region-beryl-2261); /* SLC */ }
svg path.beryl_region_2262 { fill: var(--region-beryl-2262); /* SLD */ }
svg path.beryl_region_2265 { fill: var(--region-beryl-2265); /* AP */ }
svg path.beryl_region_2269 { fill: var(--region-beryl-2269); /* DCO */ }
svg path.beryl_region_2270 { fill: var(--region-beryl-2270); /* VCO */ }
svg path.beryl_region_2272 { fill: var(--region-beryl-2272); /* CU */ }
svg path.beryl_region_2273 { fill: var(--region-beryl-2273); /* GR */ }
svg path.beryl_region_2274 { fill: var(--region-beryl-2274); /* ECU */ }
svg path.beryl_region_2275 { fill: var(--region-beryl-2275); /* NTB */ }
svg path.beryl_region_2276 { fill: var(--region-beryl-2276); /* NTS */ }
svg path.beryl_region_2282 { fill: var(--region-beryl-2282); /* SPVC */ }
svg path.beryl_region_2283 { fill: var(--region-beryl-2283); /* SPVI */ }
svg path.beryl_region_2284 { fill: var(--region-beryl-2284); /* SPVO */ }
svg path.beryl_region_2290 { fill: var(--region-beryl-2290); /* Pa5 */ }
svg path.beryl_region_2293 { fill: var(--region-beryl-2293); /* VI */ }
svg path.beryl_region_2295 { fill: var(--region-beryl-2295); /* VII */ }
svg path.beryl_region_2298 { fill: var(--region-beryl-2298); /* AMB */ }
svg path.beryl_region_2301 { fill: var(--region-beryl-2301); /* DMX */ }
svg path.beryl_region_2303 { fill: var(--region-beryl-2303); /* GRN */ }
svg path.beryl_region_2304 { fill: var(--region-beryl-2304); /* ICB */ }
svg path.beryl_region_2305 { fill: var(--region-beryl-2305); /* IO */ }
svg path.beryl_region_2306 { fill: var(--region-beryl-2306); /* IRN */ }
svg path.beryl_region_2307 { fill: var(--region-beryl-2307); /* ISN */ }
svg path.beryl_region_2308 { fill: var(--region-beryl-2308); /* LIN */ }
svg path.beryl_region_2309 { fill: var(--region-beryl-2309); /* LRN */ }
svg path.beryl_region_2312 { fill: var(--region-beryl-2312); /* MARN */ }
svg path.beryl_region_2313 { fill: var(--region-beryl-2313); /* MDRN */ }
svg path.beryl_region_2316 { fill: var(--region-beryl-2316); /* PARN */ }
svg path.beryl_region_2317 { fill: var(--region-beryl-2317); /* PAS */ }
svg path.beryl_region_2318 { fill: var(--region-beryl-2318); /* PGRN */ }
svg path.beryl_region_2323 { fill: var(--region-beryl-2323); /* NR */ }
svg path.beryl_region_2324 { fill: var(--region-beryl-2324); /* PRP */ }
svg path.beryl_region_2326 { fill: var(--region-beryl-2326); /* PPY */ }
svg path.beryl_region_2330 { fill: var(--region-beryl-2330); /* LAV */ }
svg path.beryl_region_2331 { fill: var(--region-beryl-2331); /* MV */ }
svg path.beryl_region_2332 { fill: var(--region-beryl-2332); /* SPIV */ }
svg path.beryl_region_2333 { fill: var(--region-beryl-2333); /* SUV */ }
svg path.beryl_region_2334 { fill: var(--region-beryl-2334); /* x */ }
svg path.beryl_region_2335 { fill: var(--region-beryl-2335); /* XII */ }
svg path.beryl_region_2336 { fill: var(--region-beryl-2336); /* y */ }
svg path.beryl_region_2339 { fill: var(--region-beryl-2339); /* RM */ }
svg path.beryl_region_2340 { fill: var(--region-beryl-2340); /* RPA */ }
svg path.beryl_region_2341 { fill: var(--region-beryl-2341); /* RO */ }
svg path.beryl_region_2348 { fill: var(--region-beryl-2348); /* LING */ }
svg path.beryl_region_2353 { fill: var(--region-beryl-2353); /* CENT2 */ }
svg path.beryl_region_2357 { fill: var(--region-beryl-2357); /* CENT3 */ }
svg path.beryl_region_2370 { fill: var(--region-beryl-2370); /* CUL4 5 */ }
svg path.beryl_region_2374 { fill: var(--region-beryl-2374); /* DEC */ }
svg path.beryl_region_2378 { fill: var(--region-beryl-2378); /* FOTU */ }
svg path.beryl_region_2382 { fill: var(--region-beryl-2382); /* PYR */ }
svg path.beryl_region_2386 { fill: var(--region-beryl-2386); /* UVU */ }
svg path.beryl_region_2390 { fill: var(--region-beryl-2390); /* NOD */ }
svg path.beryl_region_2395 { fill: var(--region-beryl-2395); /* SIM */ }
svg path.beryl_region_2400 { fill: var(--region-beryl-2400); /* ANcr1 */ }
svg path.beryl_region_2404 { fill: var(--region-beryl-2404); /* ANcr2 */ }
svg path.beryl_region_2408 { fill: var(--region-beryl-2408); /* PRM */ }
svg path.beryl_region_2412 { fill: var(--region-beryl-2412); /* COPY */ }
svg path.beryl_region_2416 { fill: var(--region-beryl-2416); /* PFL */ }
svg path.beryl_region_2420 { fill: var(--region-beryl-2420); /* FL */ }
svg path.beryl_region_2425 { fill: var(--region-beryl-2425); /* FN */ }
svg path.beryl_region_2426 { fill: var(--region-beryl-2426); /* IP */ }
svg path.beryl_region_2427 { fill: var(--region-beryl-2427); /* DN */ }
svg path.beryl_region_2428 { fill: var(--region-beryl-2428); /* VeCB */ }

